@model ClassGrades

@{
    ViewData["Title"] = "Index";
}

<p markdown>
# LINQ

In this example, use LINQ queries to get the correct data in the `LinqController` from the `GradeList` object to return the following:

    * Average Grade Percentage for Class
    * How many students received each letter grade
    * A list of students ordered by their number grade descending (Grade - FirstName LastName)
</p>

<h4>Average Grade</h4>
<p>@Model.AverageGrade.ToString("0.0")%</p>

<h4>List of Grades and Number of Students</h4>
<p>
    <ul class="list-group">
        @foreach (var (grade, count) in Model.CountsByGradeLetter)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @grade
                <span class="badge badge-primary badge-pill">@count</span>
            </li>
        }
    </ul>
</p>

<h4>List of Students Ordered By Grades Descending</h4>
<p>
    <ul>
        @foreach (var studentGrade in Model.OrderedStudentGrades)
        {
        <li>@studentGrade.NumberGrade% - @studentGrade.FirstName @studentGrade.LastName</li>
        }
    </ul>
</p>

